USE [master]
GO
/****** Object:  Database [DiplomMur]    Script Date: 07.05.2026 18:38:56 ******/
CREATE DATABASE [DiplomMur]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DiplomMur', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERV\MSSQL\DATA\DiplomMur.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DiplomMur_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERV\MSSQL\DATA\DiplomMur_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiplomMur].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiplomMur]
GO
/****** Object:  User [gtss]    Script Date: 07.05.2026 18:38:56 ******/
CREATE USER [gtss] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [gtss]
GO
/****** Object:  Schema [ldk]    Script Date: 07.05.2026 18:38:56 ******/
CREATE SCHEMA [ldk]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 07.05.2026 18:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryMaterialID] [int] NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryParentID] [int] NULL,
	[CategoryDescription] [nvarchar](250) NULL,
	[CategorySortOrder] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Characteristic]    Script Date: 07.05.2026 18:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characteristic](
	[CharactID] [int] IDENTITY(1,1) NOT NULL,
	[CharactName] [nvarchar](100) NOT NULL,
	[CharactDataType] [nvarchar](20) NOT NULL,
	[CharactDefaultUnit] [nvarchar](20) NULL,
	[CharactDescription] [nvarchar](250) NULL,
 CONSTRAINT [PK_Characteristic] PRIMARY KEY CLUSTERED 
(
	[CharactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharacteristicValue]    Script Date: 07.05.2026 18:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacteristicValue](
	[ValueID] [int] IDENTITY(1,1) NOT NULL,
	[ValueSizeID] [int] NOT NULL,
	[ValueCharactID] [int] NOT NULL,
	[ValuePrecisionType] [nvarchar](30) NULL,
	[ValueToleranceDirection] [nvarchar](5) NULL,
	[ValueTolerance] [decimal](10, 4) NULL,
	[ValueNumeric] [decimal](15, 6) NULL,
	[ValueString] [nvarchar](500) NULL,
	[ValueUnit] [nvarchar](30) NULL,
 CONSTRAINT [PK_CharacteristicValue] PRIMARY KEY CLUSTERED 
(
	[ValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 07.05.2026 18:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[FavoriteID] [int] IDENTITY(1,1) NOT NULL,
	[FavoriteUserID] [int] NOT NULL,
	[FavoriteProductSizeID] [int] NOT NULL,
	[FavoriteCreate] [datetime2](7) NULL,
	[FavoriteFolderName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
(
	[FavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 07.05.2026 18:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](100) NOT NULL,
	[MaterialDescription] [nvarchar](250) NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 07.05.2026 18:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[ProductStandartName] [nvarchar](max) NOT NULL,
	[ProductStandartNumber] [nvarchar](50) NOT NULL,
	[ProductDescription] [nvarchar](250) NULL,
	[ProductIsActive] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 07.05.2026 18:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 07.05.2026 18:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[SizeID] [int] IDENTITY(1,1) NOT NULL,
	[SizeProductID] [int] NOT NULL,
	[SizeName] [nvarchar](100) NOT NULL,
	[SizeNominalValue] [decimal](15, 6) NOT NULL,
	[SizeUnit] [nvarchar](30) NOT NULL,
	[SizeSortOrder] [int] NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07.05.2026 18:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserRoleID] [int] NOT NULL,
	[UserLastName] [nvarchar](50) NOT NULL,
	[UserFirstName] [nvarchar](50) NOT NULL,
	[UserPatronymic] [nvarchar](50) NULL,
	[UserLogin] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[UserDateBirth] [date] NULL,
	[UserPhone] [nvarchar](20) NULL,
	[UserEmail] [nvarchar](100) NULL,
	[UserIsBlocked] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitHistory]    Script Date: 07.05.2026 18:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitHistory](
	[VisitID] [int] IDENTITY(1,1) NOT NULL,
	[VisitUserID] [int] NOT NULL,
	[VisitProductID] [int] NULL,
	[VisitSearchQuery] [nvarchar](max) NULL,
	[VisitCreate] [datetime2](7) NULL,
 CONSTRAINT [PK_VisitHistory] PRIMARY KEY CLUSTERED 
(
	[VisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryMaterialID], [CategoryName], [CategoryParentID], [CategoryDescription], [CategorySortOrder]) VALUES (1, 1, N'Полосовой прокат', NULL, N'Горячекатаный полосовой прокат', 0)
INSERT [dbo].[Category] ([CategoryID], [CategoryMaterialID], [CategoryName], [CategoryParentID], [CategoryDescription], [CategorySortOrder]) VALUES (2, 1, N'Круглый прокат', NULL, N'Горячекатаный круглый прокат', 0)
INSERT [dbo].[Category] ([CategoryID], [CategoryMaterialID], [CategoryName], [CategoryParentID], [CategoryDescription], [CategorySortOrder]) VALUES (3, 1, N'Квадратный прокат', NULL, N'Горячекатаный квадратный прокат', 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Characteristic] ON 

INSERT [dbo].[Characteristic] ([CharactID], [CharactName], [CharactDataType], [CharactDefaultUnit], [CharactDescription]) VALUES (1, N'Ширина полосы', N'number', N'мм', N'Ширина полосы b')
INSERT [dbo].[Characteristic] ([CharactID], [CharactName], [CharactDataType], [CharactDefaultUnit], [CharactDescription]) VALUES (2, N'Толщина', N'number', N'мм', N'Толщина полосы a')
INSERT [dbo].[Characteristic] ([CharactID], [CharactName], [CharactDataType], [CharactDefaultUnit], [CharactDescription]) VALUES (3, N'Масса 1м', N'number', N'кг', N'Масса одного погонного метра')
SET IDENTITY_INSERT [dbo].[Characteristic] OFF
GO
SET IDENTITY_INSERT [dbo].[CharacteristicValue] ON 

INSERT [dbo].[CharacteristicValue] ([ValueID], [ValueSizeID], [ValueCharactID], [ValuePrecisionType], [ValueToleranceDirection], [ValueTolerance], [ValueNumeric], [ValueString], [ValueUnit]) VALUES (1, 1, 1, NULL, NULL, NULL, CAST(10.000000 AS Decimal(15, 6)), NULL, N'мм')
INSERT [dbo].[CharacteristicValue] ([ValueID], [ValueSizeID], [ValueCharactID], [ValuePrecisionType], [ValueToleranceDirection], [ValueTolerance], [ValueNumeric], [ValueString], [ValueUnit]) VALUES (2, 1, 2, NULL, NULL, NULL, CAST(5.000000 AS Decimal(15, 6)), NULL, N'мм')
INSERT [dbo].[CharacteristicValue] ([ValueID], [ValueSizeID], [ValueCharactID], [ValuePrecisionType], [ValueToleranceDirection], [ValueTolerance], [ValueNumeric], [ValueString], [ValueUnit]) VALUES (3, 1, 3, NULL, NULL, NULL, CAST(0.393000 AS Decimal(15, 6)), NULL, N'кг')
GO
SET IDENTITY_INSERT [dbo].[CharacteristicValue] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorite] ON 

INSERT [dbo].[Favorite] ([FavoriteID], [FavoriteUserID], [FavoriteProductSizeID], [FavoriteCreate], [FavoriteFolderName]) VALUES (8, 3, 466, CAST(N'2025-12-06T22:14:23.2694045' AS DateTime2), N'декабрь')
INSERT [dbo].[Favorite] ([FavoriteID], [FavoriteUserID], [FavoriteProductSizeID], [FavoriteCreate], [FavoriteFolderName]) VALUES (15, 3, 4, CAST(N'2025-12-08T16:15:01.0493340' AS DateTime2), N'проект')
INSERT [dbo].[Favorite] ([FavoriteID], [FavoriteUserID], [FavoriteProductSizeID], [FavoriteCreate], [FavoriteFolderName]) VALUES (16, 3, 376, CAST(N'2025-12-08T16:34:58.9055024' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Favorite] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([MaterialID], [MaterialName], [MaterialDescription]) VALUES (1, N'Сталь', N'Черная сталь')
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductCategoryID], [ProductName], [ProductStandartName], [ProductStandartNumber], [ProductDescription], [ProductIsActive]) VALUES (1, 1, N'Полоса стальная', N'Прокат сортовой стальной горячекатаный полосовой', N'ГОСТ 103-2006', N'Стальные горячекатаные полосы', 1)
INSERT [dbo].[Product] ([ProductID], [ProductCategoryID], [ProductName], [ProductStandartName], [ProductStandartNumber], [ProductDescription], [ProductIsActive]) VALUES (2, 2, N'Круг стальной', N'Прокат сортовой стальной горячекатаный круглый', N'ГОСТ 2590-2006', N'Стальные горячекатаные круги', 1)
INSERT [dbo].[Product] ([ProductID], [ProductCategoryID], [ProductName], [ProductStandartName], [ProductStandartNumber], [ProductDescription], [ProductIsActive]) VALUES (3, 3, N'Квадрат стальной', N'Прокат сортовой стальной горячекатаный квадратный', N'ГОСТ 2591-2006', N'Стальные горячекатаные квадраты', 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Главный инженер')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Инженер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([SizeID], [SizeProductID], [SizeName], [SizeNominalValue], [SizeUnit], [SizeSortOrder]) VALUES (1, 1, N'Полоса 10x5', CAST(10.000000 AS Decimal(15, 6)), N'мм', 1005)
INSERT [dbo].[Size] ([SizeID], [SizeProductID], [SizeName], [SizeNominalValue], [SizeUnit], [SizeSortOrder]) VALUES (2, 1, N'Полоса 12x4', CAST(12.000000 AS Decimal(15, 6)), N'мм', 1204)
INSERT [dbo].[Size] ([SizeID], [SizeProductID], [SizeName], [SizeNominalValue], [SizeUnit], [SizeSortOrder]) VALUES (3, 1, N'Полоса 12x5', CAST(12.000000 AS Decimal(15, 6)), N'мм', 1205)
GO
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserRoleID], [UserLastName], [UserFirstName], [UserPatronymic], [UserLogin], [UserPassword], [UserDateBirth], [UserPhone], [UserEmail], [UserIsBlocked]) VALUES (2, 1, N'Соловьев', N'Павел', N'Владимирович', N'solovPV', N'solovevpv123', CAST(N'1996-10-07' AS Date), N'89163456637', N'solovev@gts.ru', NULL)
INSERT [dbo].[User] ([UserID], [UserRoleID], [UserLastName], [UserFirstName], [UserPatronymic], [UserLogin], [UserPassword], [UserDateBirth], [UserPhone], [UserEmail], [UserIsBlocked]) VALUES (3, 2, N'Дионисов', N'Теодор', N'Дмитриевич', N'dionisTD', N'dionisovtd123', CAST(N'2000-05-21' AS Date), N'89345678923', N'dionisov@gts.ru', 0)
INSERT [dbo].[User] ([UserID], [UserRoleID], [UserLastName], [UserFirstName], [UserPatronymic], [UserLogin], [UserPassword], [UserDateBirth], [UserPhone], [UserEmail], [UserIsBlocked]) VALUES (4, 3, N'Высоков', N'Лев', N'Павлович', N'vysokLP', N'vysokovlp123', CAST(N'2001-03-07' AS Date), N'89256378634', N'vysokov@gts.ru', 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[VisitHistory] ON 

INSERT [dbo].[VisitHistory] ([VisitID], [VisitUserID], [VisitProductID], [VisitSearchQuery], [VisitCreate]) VALUES (1, 3, 1, NULL, CAST(N'2025-12-11T17:39:04.6534655' AS DateTime2))
INSERT [dbo].[VisitHistory] ([VisitID], [VisitUserID], [VisitProductID], [VisitSearchQuery], [VisitCreate]) VALUES (2, 3, 1, NULL, CAST(N'2025-12-11T17:39:13.8740644' AS DateTime2))
INSERT [dbo].[VisitHistory] ([VisitID], [VisitUserID], [VisitProductID], [VisitSearchQuery], [VisitCreate]) VALUES (3, 3, 2, NULL, CAST(N'2025-12-11T23:59:08.7840591' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[VisitHistory] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Material]    Script Date: 07.05.2026 18:38:57 ******/
CREATE NONCLUSTERED INDEX [IX_Material] ON [dbo].[Material]
(
	[MaterialName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Role]    Script Date: 07.05.2026 18:38:57 ******/
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [IX_Role] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User]    Script Date: 07.05.2026 18:38:57 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [IX_User] UNIQUE NONCLUSTERED 
(
	[UserLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_CategorySortOrder]  DEFAULT ((0)) FOR [CategorySortOrder]
GO
ALTER TABLE [dbo].[Favorite] ADD  CONSTRAINT [DF_Favorite_FavoriteCreate]  DEFAULT (getdate()) FOR [FavoriteCreate]
GO
ALTER TABLE [dbo].[Favorite] ADD  DEFAULT (NULL) FOR [FavoriteFolderName]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_ProductIsActive]  DEFAULT ((1)) FOR [ProductIsActive]
GO
ALTER TABLE [dbo].[Size] ADD  CONSTRAINT [DF_Size_SizeSortOrder]  DEFAULT ((0)) FOR [SizeSortOrder]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [UserIsBlocked]
GO
ALTER TABLE [dbo].[VisitHistory] ADD  CONSTRAINT [DF_VisitHistory_VisitCreate]  DEFAULT (getdate()) FOR [VisitCreate]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Category] FOREIGN KEY([CategoryParentID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Category]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Material] FOREIGN KEY([CategoryMaterialID])
REFERENCES [dbo].[Material] ([MaterialID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Material]
GO
ALTER TABLE [dbo].[CharacteristicValue]  WITH CHECK ADD  CONSTRAINT [FK_CharacteristicValue_Characteristic] FOREIGN KEY([ValueCharactID])
REFERENCES [dbo].[Characteristic] ([CharactID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CharacteristicValue] CHECK CONSTRAINT [FK_CharacteristicValue_Characteristic]
GO
ALTER TABLE [dbo].[CharacteristicValue]  WITH CHECK ADD  CONSTRAINT [FK_CharacteristicValue_Size] FOREIGN KEY([ValueSizeID])
REFERENCES [dbo].[Size] ([SizeID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CharacteristicValue] CHECK CONSTRAINT [FK_CharacteristicValue_Size]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Size] FOREIGN KEY([FavoriteProductSizeID])
REFERENCES [dbo].[Size] ([SizeID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Size]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_User] FOREIGN KEY([FavoriteUserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Size]  WITH CHECK ADD  CONSTRAINT [FK_Size_Product] FOREIGN KEY([SizeProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Size] CHECK CONSTRAINT [FK_Size_Product]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[Role] ([RoleID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[VisitHistory]  WITH CHECK ADD  CONSTRAINT [FK_VisitHistory_Product] FOREIGN KEY([VisitProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VisitHistory] CHECK CONSTRAINT [FK_VisitHistory_Product]
GO
ALTER TABLE [dbo].[VisitHistory]  WITH CHECK ADD  CONSTRAINT [FK_VisitHistory_User] FOREIGN KEY([VisitUserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VisitHistory] CHECK CONSTRAINT [FK_VisitHistory_User]
GO
ALTER TABLE [dbo].[Characteristic]  WITH CHECK ADD  CONSTRAINT [CK_Charact_DataType] CHECK  (([CharactDataType]='string' OR [CharactDataType]='number'))
GO
ALTER TABLE [dbo].[Characteristic] CHECK CONSTRAINT [CK_Charact_DataType]
GO
ALTER TABLE [dbo].[CharacteristicValue]  WITH CHECK ADD  CONSTRAINT [CK_CharacteristicValue_ToleranceDirection] CHECK  (([ValueToleranceDirection]='±' OR [ValueToleranceDirection]='-' OR [ValueToleranceDirection]='+' OR [ValueToleranceDirection] IS NULL))
GO
ALTER TABLE [dbo].[CharacteristicValue] CHECK CONSTRAINT [CK_CharacteristicValue_ToleranceDirection]
GO
USE [master]
GO
